<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

        <link rel="stylesheet" type="text/css" href="./layout/estilo.css">
            
        <title>Gerenciador de Informações</title>
    </head>
    <body>
        <div id="corpo" align="center">
            <div id="cabecalho"><img src="./imagens/logo.JPG" /></div>
            <div id="login">
                <form name="login" method="post" action="./paginas/sistema.html">
                    <table>
                        <caption>Tela de Acesso</caption>
                        <tr>
                            <td>CÓDIGO</td>
                            <td><input name="codigo" type="text" size="50" /></td>
                        </tr>
                        <tr>
                            <td>SENHA </td>
                            <td><input name="password" type="text" size="50" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: right;">
                                <input name="btn_submit" type="submit" value="Entrar">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div id="menu"></div>
            <div id="rodape" align="left">
                © Faculdade Teológica Batista do Paraná. Todos os direitos reservados. Fone: (41) 3024-8142
            </div>
        </div>
    </body>
</html>