<script type="text/javascript" src="../scripts/jquery.js"></script>
<script>
     
    function ano(){
        var data = '<option value="1990">1990</option>"';
        var i = 1990;
        while (i < 2015){
            data += '<option value="'+i+'">'+i+'</option>"';
            i++;
        }
        return data;
    }
    
    function mes(){
        var data ='<option value="01">Janeiro</option>';
        data +='<option value="02">Fevereiro</option>';
        data +='<option value="03">Março</option>';
        data +='<option value="04">Abril</option>';
        data +='<option value="05">Maio</option>';
        data +='<option value="06">Junho</option>';
        data +='<option value="07">Julho</option>';
        data +='<option value="08">Agosto</option>';
        data +='<option value="09">Setembro</option>';
        data +='<option value="10">Outubro</option>';
        data +='<option value="11">Novembro</option>';
        data +='<option value="12">Dezembro</option>';
        return data;
    }
    
    $(function(){
        $("#mes_inicio").html(mes());
        $("#ano_inicio").html(ano());
        $("#mes_fim").html(mes());
        $("#ano_fim").html(ano());
    });
    
</script>
<form>
    <table>
        <caption>Cadastro de Cursos</caption>
        <tbody>
            <tr>
                <td>Nome do Curso</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Descrição</td>
                <td><textarea rows="10" cols="50"></textarea></td>
            </tr>
            
            <tr>
                <td>Data de Inicio</td>
                <td>
                    <select id="mes_inicio"></select> /
                    <select id="ano_inicio"></select>
                </td>
            </tr>
            <tr>
                <td>Data de Término</td>
                <td>
                    <select id="mes_fim"></select> /
                    <select id="ano_fim"></select>
                </td>
            </tr>
            <tr>
                <td>Avisar Setores Sobre Novo Curso</td>
                <td>
                    <input type="radio" id="aviso" name="aviso" value="1">Sim
                    <input type="radio" id="aviso" name="aviso" value="0">Não
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Cadastrar"></td>
            </tr>
        </tbody>
    </table>
</form>