<div align="left" id="notificacao" style="width: 240px;  padding: 10px;
    border: 1px solid #c0c0c0; 
    float: left;
    ">
    <span style="text-align: left; font-weight: bold">
        Notificações
    </span>
    <hr>
    <p style="color: #FF6347"><a href="#">Bacharelado Direito</a> hoje Cleberton</p>
    <p style="color: #FF6347"><a href="#">Obras no campus</a> 12/03 Cleberton</p>
    <p style="color: #FF6347"><a href="#">Bacharelado Administração</a> 11/03 Cleberton</p>
</div>

<div align="left" id="aviso" style="width: 240px;  padding: 10px; margin-left: 10px;
    border: 1px solid #c0c0c0; 
    float: left">
    <span style="text-align: left; font-weight: bold">
        Avisos
    </span>
    <hr>
    <p><a href="#">Reunião Terça as 10:00</a></p>
</div>           
