#corpo {
    background: #fff;
    margin: auto; 
    width: 1040px;
}

#cabecalho, #rodape, #barra_menu, #conteudo{
    background: #fff url('../imagens/fundo.jpg');
    margin: 10px;
    width: 1000px ;
    padding: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}

#conteudo{
    background: #fff;
    height: auto;
    border:1px solid #c0c0c0;
    overflow: hidden;
}

#barra_menu{
    background:#4682B4;
    height: 25px;
}
#cabecalho{    
    height: 120px ;
    color: #fff;
}

#rodape{
    color: #fff;
}

#pesquisar{
    float: right;
    color: #fff;
}

#rodape{
    height: 30px ;
    text-align: center;
}

thead tr th{
    text-align: center;
    border-bottom: 2px solid #999;
}
caption {
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
    padding-right: 0.3em;
}
caption span{
    font-weight: bold;
    margin-left: 10px;
}
a:link {text-decoration:none;color:#696969;}
a:visited {text-decoration:none;color:#696969;}
a:active {text-decoration:none;color:#696969;}
a:hover {text-decoration:underline;color:#999999;} 

#usuario-info{
    text-align: right;
}

#login {
    width: 368px;
    margin:auto;
}

#login table{
    width: 368px;
}

#login table tr td:first-child{
    text-align: right;
}

#bloco-mensagems{
    width: 500px;
    margin: auto;
    height: 200px;
    position: absolute;
    z-index: 9999;
    border: #FDA 2px solid;
    background: #FFF;
    margin-top:15%;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 5px 5px 10px #555555;
}

#msg-titulo span {
    float: right;
    color: #cb8;
    cursor: pointer;
}

#msg-titulo {
    background: none repeat scroll 0 0 #FFDDAA;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    cursor: move;
}

#msg-titulo span:hover {
    color: #AA9966;
}

.msg-item {
    font-size: 15px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

#msg-location{
    padding: 10px 30px;
    overflow: auto;
    height: 150px;
}

.pesquisa-titulo {
    font-weight: bold;
    text-align: left;
}
.pesquisa-desc {
    text-align: left;
}
.resultado-pesquisa {
    padding: 5px;
    margin: 5px;
    border: 1px solid #888;
}

.form-table{
    width: 100%;
    margin-bottom: 20px;
}

.form-table tr td {
    width: 50%;
}
.form-table tr td:first-child{
    text-align: right;
    font-weight: bold;
}